* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
}

:root {
    --primary-color: #8DB38B;
    --secondary-color: #BDBEA9;
    --accent1-color: #d2ab99;
    --accent2-color: #56876D;
    --hdr-highlight-color: #072917;
    --padding-small: 10px;
    --standard-border: 1px solid;
    --shadow-gray: 0 0 30px gray;
    --padding-rem: 1rem; 
    --padding-medium: 20px;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Roboto, Arial, sans-serif;
}

header {
    background-color: var(--hdr-highlight-color);
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 960px;
    height: auto;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
}

#aboutus-pg h1, #home-pg h1, #trips-pg h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#aboutus-pg h1 {
    top: 40px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

#home-pg h1 {
    top: 80px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
}

#trips-pg h1 {
    top: 80px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    /* font-size: 1.5rem; */
    font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
}

h2 {
    font-family: var(--heading-font);
    color: var(--hdr-highlight-color);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}

header img {
    margin: 5px 0 0 0;
	width: 90px;
	height: auto;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
    align-content: space-evenly;
}

header nav li {
	flex: 1 1 auto;
}

header nav a {
    display: block;
    color: #fff;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

header nav a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}

.socialmedia {
    position: absolute;
    right: 0;
    Top: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero-img {
    width: 100%;
    height: auto;
    margin: 1.5rem auto 0;
    text-align: center;
    position: relative;
}

.hero article {
    position: absolute;
    top: 120px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

#aboutus-pg .hero article {
    top: 120px;
    width: 90%;
    left: 50%;
}

#home-pg .hero article{
    /* position: absolute; */
    top: 350px;
    width: 80%;
    height: 130px;
    text-align: center; 
}

#trips-pg .hero article{
    /* position: absolute; */
    top: 340px;
    width: 80%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

.hero article img {
    float: right;
    width: 180px;
    height: auto;
    padding: 2px;
    border: var(--standard-border) steelblue;
    box-shadow: var(--shadow-gray);
}

.hero article p {
    color: #ffffff; 
    padding: 1rem;
    margin-bottom: 1rem;
}

/* About & Offerings Grid */
.about-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 0 !important;
}

.about-grid img {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    box-shadow: var(--shadow-gray);
}

.about-grid h2, .tile-container h2 {
    margin-top: 1.5rem;
    font-family: var(--heading-font);
    color: var(--hdr-highlight-color);
}

.about-grid p {
    line-height: 1.5;
    margin-top: 0.5rem;
}

#home-pg .hero article p {
    font-size: 1.2rem;
}

#home-pg .hero article a, #trips-pg .hero article a {
    margin: 1.5rem auto 3rem !important;
    background-color: #006400;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#home-pg article a:hover, #trips-pg article a:hover {
    background-color: var(--accent2-color);
}

.history-box {
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(235, 232, 232);
}

.hist-cont {
    display: flex;
    padding-bottom: 20px;
}

.hist-cont p {
    padding: 0 1rem;
}

.adventure-box {
    border: thin #c0c0c0 solid;
    margin-top: 25px;
}

.adventure-box p {
    margin: 15px;
    display: flex;
}

.adventure-imgs {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

figure {
    max-width: 160px;
}

figure img {
    max-width: 160px;
    max-height: 160px;
}
  
figcaption {
    width: 150px;
    color: var(--hdr-highlight-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}
  
hr {
    border: 0;
    height: 1px;
    background-color: var(--primary-color);
    margin: 20px auto 15px;
    width: 100%;
}

footer {
    position: relative;
    margin-bottom: 25px;
    margin-left: 0;
}

.wireframe-link {
    font-size: 0.8rem;
    position: absolute;
}

.cp-info p {
    font-size: 0.8rem;
    text-align: center;
    color: var(--hdr-highlight-color);
}

/* Contact Us Page */

.contact-det-hdr {
    text-align: center;
    margin: 15px auto;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--heading-font);
}

.our-contact-intro {
    color: var(--hdr-highlight-color);
    margin-bottom: 12px;

}

.our-info {
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    grid-template-columns: 3fr 2fr;
    grid-gap: 0.5rem;
    border: thin #c0c0c0 solid;
}

.our-contact-info {
    margin:0;
    padding: 0;
    justify-items: center;
}

.our-info-label {
    font-weight: bold;
    color: navy;
    margin-top: 6px;
}

.our-info-det {
    font-size: 0.9rem;
    font-style: italic;
    color: #333;
}
.our-iframe {
    margin-top: 10px;
}

.contactpg-h1 {
    font-family: var(--heading-font);
    color: var(--hdr-highlight-color);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}

#contactus-pg .adventure-imgs {
    margin: 0;
    padding: 0;
    justify-content: center;
}

#contactus-pg figure {
    max-width: 220px;
}

#contactus-pg figure img {
    max-width: 220px;
    max-height: 220px;
    margin: 0;
    padding: 0;
}

#contactus-pg figcaption {
    width: auto;
    color: navy;
    padding: 1.5px;
}

form {
    margin: 1rem auto;
    max-width: 650px;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: rgb(238 238 238 / 0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#home-pg form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contactus-pg fieldset, #home-pg fieldset {
    margin-left: 0;
    margin: 0.2rem 1rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

#contactus-pg  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

#home-pg  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

#contactus-pg label, #home-pg label {
    margin: 10px 5px;
}

#contactus-pg input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#home-pg input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactus-pg input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    vertical-align: bottom;
}

#contactus-pg input[type="radio"] {
    zoom: 1.2;
    margin-right: 8px;
vertical-align: middle;
}

#contactus-pg legend, #home-pg legend {
    padding: 0.4rem;
    color: navy;
    font-size: 1.2em;
    margin-left: 0;
    font-weight: bold;
}

#contactus-pg button, #home-pg button {
    display: block;
    margin: 0 auto; 
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    min-width: 25%;
}

#contactus-pg button:hover, #home-pg button:hover {
    background-color: darkgreen;
}

.radio-group {
    margin-bottom: 15px;
    margin-right: 10px;
}

.radio-group label {
    display: block;
    font-weight: normal;
    margin-left: 10px;
}

.checkbox-group {
    margin-left: 0.6rem;
    margin-bottom: 10px;
}

/* Trips Page */

/* Container */
.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    /* padding: 20px; */
}

/* Tile styles */
.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Heading */
.tile h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Image */
.tile img {
    width: 100%;
    aspect-ratio: 4 / 3; /* Keeps images same height/width ratio */
    object-fit: cover;
    border-radius: 5px;
}

/* Description */
.tile p {
    flex-grow: 1; /* Ensures equal height descriptions */
    font-size: 0.95rem;
    margin: 10px 0;
}

/* Button */
.tile button {
    background-color: #006400;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tile button:hover {
    background-color: var(--accent2-color);
}

/* Make all tiles the same height */
.tile {
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}
caption {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    color: Navy;
    margin-bottom: 1.5rem;
}
th, td {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) td {
    background-color: #fafafa;
}
