* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
}

:root {
    --primary-color: #8DB38B;
    --secondary-color: #BDBEA9;
    --accent1-color: #d2ab99;
    --accent2-color: #56876D;
    --hdr-highlight-color: #072917;
    --padding-small: 10px;
    --standard-border: 1px solid;
    --shadow-gray: 0 0 30px gray;
    --padding-rem: 1rem; 
    --padding-medium: 20px;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Roboto, Arial, sans-serif;
}

header {
    background-color: var(--hdr-highlight-color);
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    height: auto;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
}

header img {
    margin: 5px 0 0 0;
	width: 90px;
	height: auto;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
    align-content: space-evenly;
}

header nav li {
	flex: 1 1 auto;
}

header nav a {
    display: block;
    color: #fff;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

header nav a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}

.socialmedia {
    position: absolute;
    right: 0;
    Top: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    margin: 15px auto 0;
    text-align: center;
    position: relative;
}

h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    color: var(--hdr-highlight-color);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}

.hero article {
    position: absolute;
    top: 120px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(37, 109, 143, 0.65); 
    padding: 5px;
}

.hero article img {
    float: right;
    width: 180px;
    height: auto;
    padding: 2px;
    border: var(--standard-border) steelblue;
    box-shadow: var(--shadow-gray);
}

.hero article p {
    color: #ffffff;
    padding: 1rem;
}

.history-box {
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(235, 232, 232);
}

.hist-cont {
    display: flex;
    padding-bottom: 20px;
}

.hist-cont p {
    padding: 0 1rem;
}

.adventure-box {
    border: thin #c0c0c0 solid;
    margin-top: 25px;
}

.adventure-box p {
    margin: 15px;
    display: flex;
}

.adventure-imgs {
    display: flex;
}

figure{
    flex-flow: column;
    padding: 5px;
    max-width: 160px;
}

figure img {
    max-width: 160px;
    max-height: 160px;
}
  
figcaption {
    width: 150px;
    color: var(--hdr-highlight-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}
  
hr {
    border: 0;
    height: 1px;
    background-color: var(--primary-color);
    margin: 20px auto 15px;
    width: 100%;
}

footer {
    position: relative;
    margin-bottom: 25px;
}

.cp-info p {
    font-size: 0.8rem;
    text-align: center;
    color: var(--hdr-highlight-color);
}