* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define CSS Variable */
:root {
    --main-bg-color: #eee;
    --main-text-color: #333;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width:920px;
}

aside {
    width: 30rem;
    text-align: center;
    position: absolute;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 207px;
}


aside img {
    width: 200px;
    margin-bottom: 1rem;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid var(--main-bg-color);
    text-align:center;
}


/* Class Selectors */

.main-intro{
    margin: 1rem 1rem 0 1rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

