:root {
    --main-blue: darkblue;
    /* --light-gray: #eee; */
    /* --dark-gray: #333; */
    --border-gray: rgb(0 0 0 / 0.2);
    --standard-border: 1px solid;
    --shadow-gray: 0 0 30px gray;
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-rem: 1rem;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--main-blue);
    padding: var(--padding-small);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding-medium);
}

h1 {
    color: var(--main-blue);
}

main img {
    width: 150px;
    height: auto;
    border: var(--standard-border) steelblue;
    padding: 2px;
    box-shadow: var(--shadow-gray);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(padding-rem);
    border: var(--standard-border) var(--border-gray); /* 1 */
    padding: var(--padding-rem);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--standard-border) #000;
    text-align: center;
}