* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --main-blue: darkblue;
    /* --light-gray: #eee; */
    /* --dark-gray: #333; */
    --border-gray: rgb(0 0 0 / 0.2);
    --standard-border: 1px solid;
    --shadow-gray: 0 0 30px gray;
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-rem: 1rem;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--main-blue);
    padding: var(--padding-small);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding-medium);
}

h1 {
    color: var(--main-blue);
    padding: var(--padding-rem);
}

main img {
    float: right;
    margin: 0 0 var(--padding-small) var(--padding-small);
    width: 150px;
    height: auto;
    border: var(--standard-border) steelblue;
    padding: 2px;
    box-shadow: var(--shadow-gray);
}

p {
    /* padding: 0; */
    margin: 0 1rem 0 1rem;
}

ul li {
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 250px;
    left: 125px;
    color: var(--main-blue);
    font-weight: bold;
}

aside img {
    width: 200px;
    height: auto;
    padding-bottom: var(--padding-rem);
}

footer {
    margin-top: 15px;
    border-top: var(--standard-border) #000;
    text-align: center;
}

footer p {
    padding: var(--padding-small);
    color: #000;
}

/* Class Selectors */

.box {
    margin: var(--padding-rem);
    border: var(--standard-border) rgb(0 0 0 / 10%);
    padding: var(--padding-rem);
    background-color: #eee;
    color: #333;
}

